/* --- FONTE --- */

h1{
    font-size: 126px;
    font-weight: 900;
    line-height: 112px;
    margin: 0 0 30px 0;
    color: #000000;
}

h2{
    font-size: 36px;
    line-height: 46px;
    font-weight: 900;
    margin: 0 0 20px 0;
    color: #000000;
}

h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    color: #D1C3AF
;
    margin: 10px 0;
}

h4{
    font-size: 66px;
    font-weight: 900;
    line-height: 82px;
}


p{
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    color: #333;
}


/* --- DEFAULT --- */

.botao{
    padding: 16px 45px;
    background-color: #A66606;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase; /* Caixa alta */
    color: #fff;
    margin: 10px 0;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    padding-left: 0;
}
ul li{
    font-size: 20px;
    line-height: 34px 
}
ul li a{
    color: #A66606;
    text-decoration: none;  
    font-weight: 700; 
}

/* --- HEADER --- */

#header{
    width: 100%;
    padding: 180px 0 209px 0;
    background-color: #D1C3AF;
}

.perfil{
    width: 350px;
}

.perfil img{
    width: 100%;
    border-radius: 100%;
}

.perfil-sobre{
    max-width: 635px;
}


/*MAIN*/

#main{
    padding-top: 96px;
}
.sobre{
    max-width: 635px;
}
      
#main .container a{
    color: #A66606;
    line-height: 34px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
}
.skills{
 
    justify-content: center;
    margin-top: 66px;
    max-width: 350px; 
    
}

.skillset, .awards, .career, .recentworks{
    margin-bottom: 100px;
}
  
#footer{
    background-color: #D1C3AF;
    width: 100%;
    height: 547px;
}

#footer .container{
    flex-direction: column;
    align-items: center;
    background-color: #D1C3AF;
    
}
#footer .container a{
    color: #A66606;
    line-height: 46px;
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
}
.social{
    width: 243px;
    display: flex;
    justify-content: space-between;
     
}

.tituloedata{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #000000;
}
.barra{ 
    width: 71px;
    height: 10px;
    background: #A66606;
    margin: 40px 0 40px 20px;
}


/*---TABLET---*/
@media screen and (max-width: 768px) {
   #main .container{
    flex-direction: column-reverse;
        
   }
    h1{
        font-size: 56px;
        line-height: 46px;
    }
    #header{
        padding: 80px 0 130px 0;
    }
    .perfil{
        width: 160px;
        margin-bottom: 40px;
    }
    #header .container{
        flex-direction: column;
        align-items: center;
    }     

    .perfil-sobre{
        
        align-items: center;
        text-align: center;
    }
    .skills{
        max-width: 335px;
    }
    .sobre{
        max-width: 335px;
    }

    h2{
        font-size: 32px;
        font-weight: 900;
        line-height: 32px;
    }
    h3{
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
    }
    h4{
        font-size: 40px;
        line-height: 50px;
    }
    .tituloedata{
        flex-direction: column;
        color: #000000;    
    }

    .barra{
        width: 54px;
        height: 10px;
        background: #A66606
;
    }

    #footer .container{
        font-size: 20px;
        line-height: 36px;
    }
    
} 
 

 


